@model IEnumerable<E_Commerce.Entity.Concrete.Product>

<!-- Start Trending Product Area -->
<section class="trending-product section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@_localization.Getkey("LatestProducts").Value</h2>
                    <p>
                        @_localization.Getkey("LatestProducts.SubContent").Value
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Product -->
                    <div class="single-product">
                        <div class="product-image">
                            @foreach (var image in item.ProductImages!)
                            {
                                <img src="@image.ImagePath" style="width:288px;height:288px" alt="#">
                                break;
                            }
                            <div class="button">
                                <a href="/Cart/AddCart/@item.Id" class="btn"><i class="lni lni-cart"></i>Sepete Ekle</a>
                            </div>
                        </div>
                        <div class="product-info">
                            <span class="category">@item.Category!.Name</span>
                            <h4 class="title">
                                <a href="/Shop/ProductDetails/@item.Id">@item.Name</a>
                            </h4>
                            <ul class="review">
                                @if (@ViewBag.Point != 5)
                                {
                                    @for (int i = 1; i <= @ViewBag.Point; i++)
                                    {
                                        <li><i class="lni lni-star-filled"></i></li>
                                    }
                                    @for (int i = 1; i <= (5 - @ViewBag.Point); i++)
                                    {
                                        <li><i class="lni lni-star"></i></li>
                                    }
                                }
                                else
                                {
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        <li><i class="lni lni-star-filled"></i></li>
                                    }
                                }
                                <li><span> @ViewBag.Point Puan</span></li>
                            </ul>
                            <div class="price">
                                <span>₺@item.Price</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>

            }
        </div>
    </div>
</section>
<!-- End Trending Product Area -->