@model IEnumerable<E_Commerce.Entity.Concrete.Product>

<!-- Start Hero Area -->
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12 custom-padding-right">
                <div class="slider-head">
                    <!-- Start Hero Slider -->
                    <div class="hero-slider">
                        @foreach (var item in Model)
                        {
                            string bannerImage = null;
                            @foreach (var images in item.ProductImages!)
                            {
                                bannerImage = images.ImagePath!;
                                break;
                            }
                            <!-- Start Single Slider -->
                            <div class="single-slider" style="background-image: url(/@bannerImage); width:868px; height:500px;">
                                <div class="content">
                                    <h2>
                                        @item.Name
                                    </h2>
                                    <p>
                                        @item.SubTitle
                                    </p>
                                    <h3><span>Sadece Şuan</span> @item.Price</h3>
                                    <div class="button">
                                        <a href="/Shop/ProductDetails/@item.Id" class="btn">Satın Al</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                         
                        }

                    </div>
                    <!-- End Hero Slider -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner"
                             style="background-image: url('https://via.placeholder.com/370x250'); width:370px; height:250px;">
                            <div class="content">
                                <h2>
                                    <span>New line required</span>
                                    iPhone 12 Pro Max
                                </h2>
                                <h3>$259.99</h3>
                            </div>
                        </div>
                        <!-- End Small Banner -->
                    </div>
                    <div class="col-lg-12 col-md-6 col-12">
                        <!-- Start Small Banner -->
                        <div class="hero-small-banner style2">
                            <div class="content">
                                <h2>@_localization.Getkey("WeeklySale.Title").Value</h2>
                                <p>@_localization.Getkey("WeeklySale.Content").Value</p>
                                <div class="button">
                                    <a class="btn" href="product-grids.html">@_localization.Getkey("WeeklySale.Button").Value</a>
                                </div>
                            </div>
                        </div>
                        <!-- Start Small Banner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Area -->