 <!-- Start Shipping Info -->
<section class="shipping-info">
    <div class="container">
        <ul>
            <!-- Free Shipping -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-delivery"></i>
                </div>
                <div class="media-body">
                    <h5>@_localization.Getkey("ShippingInfo.Title").Value</h5>
                    <span>@_localization.Getkey("ShippingInfo.SubContent").Value</span>
                </div>
            </li>
            <!-- Money Return -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-support"></i>
                </div>
                <div class="media-body">
                    <h5>@_localization.Getkey("CallInfo.Title").Value</h5>
                    <span>@_localization.Getkey("CallInfo.SubContent").Value</span>
                </div>
            </li>
            <!-- Support 24/7 -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-credit-cards"></i>
                </div>
                <div class="media-body">
                    <h5>@_localization.Getkey("PaymentInfo.Title").Value</h5>
                    <span>@_localization.Getkey("PaymentInfo.SubContent").Value</span>
                </div>
            </li>
            <!-- Safe Payment -->
            <li>
                <div class="media-icon">
                    <i class="lni lni-reload"></i>
                </div>
                <div class="media-body">
                    <h5>@_localization.Getkey("ReturnInfo.Title").Value</h5>
                    <span>@_localization.Getkey("ReturnInfo.SubContent").Value</span>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- End Shipping Info -->