@model IEnumerable<E_Commerce.Entity.Concrete.Blog>
<!-- Start Blog Singel Area -->
<section class="section blog-section blog-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-6 col-md-6 col-12">
                            <!-- Start Single Blog -->
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="/Blog/BlogSingle/@item.Id">
                                        <img src="@item.Image" style="width:370px; height:215px" alt="#">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <p class="category" >@item.BlogCategory</p>
                                    <h4>
                                        <a href="/Blog/BlogSingle/@item.Id">@item.Title</a>
                                    </h4>
                                   @if (@item.Content!.Length > 150)
                                {
                                    @Html.Raw(@item.Content.Substring(0, 150))
                                }
                                else
                                {
                                    @Html.Raw(@item.Content)
                                }
                                    <div class="button">
                                        <a href="/Blog/BlogSingle/@item.Id" class="btn">@_localization.Getkey("More").Value</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Blog -->
                        </div>
                    }

                </div>
                <!-- Pagination -->
                <div class="pagination left blog-grid-page">
                    <ul class="pagination-list">
                        <li><a href="javascript:void(0)">Öncesi</a></li>
                        <li class="active"><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)">Sonrası</a></li>
                    </ul>
                </div>
                <!--/ End Pagination -->
            </div>
            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar blog-grid-page">
                    <!-- Start Single Widget -->
                    
                    <!-- End Single Widget -->
                    @await Component.InvokeAsync("FeaturedBlogSidebar")
                    <!-- Start Single Widget -->
                    @await Component.InvokeAsync("BlogCategoryList")
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Popular Tags</h5>
                        <div class="tags">
                            <a href="javascript:void(0)">#electronics</a>
                            <a href="javascript:void(0)">#cpu</a>
                            <a href="javascript:void(0)">#gadgets</a>
                            <a href="javascript:void(0)">#wearables</a>
                            <a href="javascript:void(0)">#smartphones</a>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- End Blog Singel Area -->
