@model IEnumerable<E_Commerce.Entity.Concrete.Blog>

@{
    ViewData["Title"] = "BlogSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shop/BreadCrumbs.cshtml"></partial>


<!-- Start Blog Singel Area -->
<section class="section blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="single-inner">
                    @foreach (var item in Model)
                    {
                        <div class="post-details">
                            <div class="main-content-head">
                                <div class="post-thumbnils">
                                    <img src="~/@item.Image" alt="#">
                                </div>
                                <div class="meta-information">
                                    <h2 class="post-title">
                                        <a href="/Blog/BlogSingle/@item.Id">@item.Title</a>
                                    </h2>
                                    <!-- End Meta Info -->
                                    <ul class="meta-info">

                                        <li>
                                            <a href="javascript:void(0)">
                                                <i class="lni lni-calendar"></i> @item.CreatedAt
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="lni lni-tag"></i> @item.BlogCategory</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)"><i class="lni lni-timer"></i>  @ViewBag.MinRead min read </a>
                                        </li>
                                    </ul>
                                    <!-- End Meta Info -->
                                </div>
                                <div class="detail-inner">
                                    @Html.Raw(item.Content)



                                    <!-- Post Social Share -->

                                </div>
                            </div>
                        </div>
                    }
                    <!-- Comments -->
                    <div class="post-comments">
                        <h3 class="comment-title"><span>Blog Yorumları</span></h3>
                        <ul class="comments-list">
                            @foreach (var blogComment in ViewBag.CommentByBlog)
                            {
                                <li>
                                    
                                    <div class="comment-desc">
                                        <div class="desc-top">
                                            <h6>@blogComment.FirstName @blogComment.LastName</h6>
                                            <span class="date">@blogComment.CreatedAt</span>
                                          
                                        </div>
                                        <p>
                                            @blogComment.Content
                                        </p>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>

                    @using (Html.BeginForm("AddCommentByBlog", "Comment", FormMethod.Post))
{
                    <div class="comment-form">
                        <h3 class="comment-reply-title">Yorum Yap</h3>
                      
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <div class="form-group">
                                        <input type="hidden" name="BlogId" value="@ViewBag.BlogId" />
                                        <label for="review-name">Ad</label>
                                        <input class="form-control" name="FirstName" type="text" id="review-name" required>
                                    </div>
                                    <div class="form-box form-group">
                                        <input type="text" name="FirstName" class="form-control form-control-custom"
                                               placeholder="Adınız" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-box form-group">
                                        <input type="text" name="LastName" class="form-control form-control-custom"
                                               placeholder="Soyadınız" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-box form-group">
                                        <input type="email" name="Mail"
                                               class="form-control form-control-custom" placeholder="E-Posta Adresiniz" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="form-box form-group">
                                        <input type="text" name="Title" class="form-control form-control-custom"
                                               placeholder="Başlık" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-box form-group">
                                        <textarea name="Content" class="form-control form-control-custom"
                                                  placeholder="Mesajınız"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="button">
                                        <button type="submit" class="btn">Yorum Yap</button>
                                    </div>
                                </div>
                            </div>
                    
                    </div>
                    }
                </div>
            </div>
            <aside class="col-lg-4 col-md-12 col-12">
                <div class="sidebar blog-grid-page">
                    <!-- Start Single Widget -->
              
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    @await Component.InvokeAsync("FeaturedBlogSidebar")
                  
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    @await Component.InvokeAsync("BlogCategoryList")
                 
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="widget popular-tag-widget">
                        <h5 class="widget-title">Popular Tags</h5>
                        <div class="tags">
                            @foreach (var word in @ViewBag.TopWords)
                            {

                                <p href="javascript:void(0)">#@word</p>
                            }
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </aside>
        </div>
    </div>

</section>
<!-- End Blog Singel Area -->


<partial name="~/Views/Home/Footer.cshtml"></partial>
