@model E_Commerce.Entity.Concrete.About

@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shop/BreadCrumbs.cshtml"></partial>


<!-- Start Contact Area -->
<section id="contact-us" class="contact-us section">
    <div class="container">
        <div class="contact-head">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Bizimle İletişime Geç</h2>
                        <p>
                            Aydınlatma ürünleri hakkında daha fazla bilgi almak, sipariş vermek veya sorularınızı yanıtlamak için bize ulaşın. Size yardımcı olmaktan mutluluk duyacağız.

                        </p>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-info-head">
                            <!-- Start Single Info -->
                            <div class="single-info">
                                <i class="lni lni-map"></i>
                                <h3>Adres</h3>
                                <ul>
                                    <li>@Model.CompanyAddress</li>
                                </ul>
                            </div>
                            <!-- End Single Info -->
                            <!-- Start Single Info -->
                            <div class="single-info">
                                <i class="lni lni-phone"></i>
                                <h3>Telefon Numaramız</h3>
                                <ul>

                                    <li><a href="tel:@Model.CompanyPhoneNumber">@Model.CompanyPhoneNumber</a></li>
                                </ul>
                            </div>
                            <!-- End Single Info -->
                            <!-- Start Single Info -->
                            <div class="single-info">
                                <i class="lni lni-envelope"></i>
                                <h3>Mail</h3>
                                <ul>
                                    <li>
                                        <a href="mailto:@Model.CompanyMail">@Model.CompanyMail</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Single Info -->
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="contact-form-head">
                            <div class="form-main">
                                <div id="alertContainer"></div>
                                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                                {
                                    <div class="alert alert-danger">
                                        @ViewBag.ErrorMessage
                                    </div>
                                }

                                @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                                {
                                    <div class="alert alert-success">
                                        @ViewBag.SuccessMessage
                                    </div>
                                }


                                <form class="form" method="post" action="@Url.Action("AddContact", "Contact")">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="FullName" type="text" placeholder="Adınız"
                                                       required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="Subject" type="text" placeholder="Konu"
                                                       required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="Mail" type="email" placeholder="Mail Adresi"
                                                       required="required">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-group">
                                                <input name="Phone" type="text" placeholder="Telefon Numarası"
                                                       required="required">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group message">
                                                <textarea name="Message" placeholder="Mesaj"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group button">
                                                <button type="submit" class="btn ">Mesajı Gönder</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact Area -->



<partial name="~/Views/Home/Footer.cshtml"></partial>

<script>
    // Uyarı mesajlarını yakalamak ve tarayıcı uyarısı olarak göstermek için JavaScript kullanılıyor
    var errorMessage = '@ViewBag.ErrorMessage';
    var successMessage = '@ViewBag.SuccessMessage';

    if (errorMessage) {
        showAlert(errorMessage, 'danger');
    }

    if (successMessage) {
        showAlert(successMessage, 'success');
    }

    function showAlert(message, type) {
        var alertContainer = document.getElementById('alertContainer');
        var alertElement = document.createElement('div');
        alertElement.classList.add('alert', 'alert-' + type);
        alertElement.innerText = message;
        alertContainer.appendChild(alertElement);

        // 3 saniye sonra uyarıyı kaldır
        setTimeout(function () {
            alertElement.remove();
        }, 3000);
    }
</script>
