@model IEnumerable<E_Commerce.Entity.Concrete.Address>
@{
    ViewData["Title"] = "AddressByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="dashboard section">
    <div class="container">
        <div class="row">
            @await Component.InvokeAsync("ProfileSidebar")
            <div class="col-lg-9 col-md-8 col-12">

                <div class="dashboard-block mt-0">
                    <h3 class="block-title">invoice</h3>

                    <div class="invoice-items default-list-style">
                        <div class="default-list-title">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>Adres Adı</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <p>Adres Satırı</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>İl ve İlçe</p>
                                </div>

                                <div class="col-lg-2 col-md-2 col-12 align-right">
                                    <p>Sokak</p>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 align-right">
                                    <p>Posta Kodu</p>
                                </div>
                            </div>
                        </div>
                        @if (Model != null)
                        {
                            @foreach (var address in Model)
                            {
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-2 col-md-2 col-12">
                                                        <p>@address.Name</p>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-12">
                                                        <p>@address.Line</p>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-12">
                                                        <p>@address.City @address.District</p>
                                                    </div>

                                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                                        <p>@address.Street</p>
                                                    </div>
                                                    <div class="col-lg-2 col-md-2 col-12 align-right">
                                                        <p>@address.Zip</p>
                                                    </div>
                                                </div>
                                            </button>
                                        </h2>
                                    </div>

                                </div>
                            }



                        }


                        <div class="pagination left">
                            <ul class="pagination-list">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li class="active"><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


