@model IEnumerable<E_Commerce.Entity.Concrete.Blog>

<!-- Start Blog Section Area -->
<section class="blog-section section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@_localization.Getkey("LatestBlogs.Title").Value</h2>
                    <p>
                        @_localization.Getkey("LatestBlogs.SubContent").Value
                    </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Single Blog -->
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="/Blog/BlogSingle/@item.Id" class="btn">
                                <img src="~/@item.Image" style="width:400px; height:230px" alt="@item.Title">
                            </a>
                        </div>
                        <div class="blog-content">
                            <a class="category" href="javascript:void(0)">@item.BlogCategory</a>
                            <h4>
                                @item.Title
                            </h4>

                            @if (@item.Content!.Length > 150)
                            {
                                @Html.Raw(@item.Content.Substring(0, 150))
                            }
                            else
                            {
                                @Html.Raw(@item.Content)
                            }

                            <div class="button">
                                <a href="/Blog/BlogSingle/@item.Id" class="btn">@_localization.Getkey("More").Value</a>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>

            }
        </div>
    </div>
</section>
<!-- End Blog Section Area -->
