@model IEnumerable<E_Commerce.Entity.Concrete.Product>
<!-- Start Product Grids -->
<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">
                <!-- Start Product Sidebar -->
                <div class="product-sidebar">
                    <!-- Start Single Widget -->
                    <div class="single-widget search">
                        <h3>@_localization.Getkey("Shop.Search").Value</h3>
                        <form action="#">
                            <input type="text" placeholder="Ara...">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget">
                        <a href="/Shop/Index"><h3>@_localization.Getkey("AllCategories").Value</h3></a>
                        <ul class="list">
                            @foreach (var item in ViewBag.Categories)
                            {
                                <li class="dropdown show">
                                    <a class="dropdown-toggle" href="/Shop/GetProductByCategory/@item.Id" role="button" id="dropdownMenuLink-@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @item.Name
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-@item.Id">
                                        @foreach (var subItem in item.SubCategories)
                                        {
                                            <a class="dropdown-item" href="/Shop/SubCategory/@subItem.Id">@subItem.Name</a>
                                        }
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                    <!-- End Single Widget -->
                    <!-- Start Single Widget -->
                    <div class="single-widget range">
                        <h3>@_localization.Getkey("Price").Value</h3>
                        <input type="range" class="form-range" name="range" step="1" min="50" max="10000"
                               value="10" onchange="rangePrimary.value=value">
                        <div class="range-inner">
                            <label>₺</label>
                            <input type="text" id="rangePrimary" placeholder="50" />
                        </div>
                    </div>
                    <!-- End Single Widget -->

                </div>
                <!-- End Product Sidebar -->
            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <label for="sorting">@_localization.Getkey("Ranking").Value:</label>
                                    <select class="form-control" id="sorting" onchange="handleSortingChange(this.value)">
                                        <option value="price_asc">Low - High Price</option>
                                        <option value="price_desc">High - Low Price</option>
                                        <option value="name_asc">A - Z Order</option>
                                        <option value="name_desc">Z - A Order</option>
                                    </select>
                            </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel"
                             aria-labelledby="nav-grid-tab">
                            <div class="row">
                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 col-md-6 col-12">
                                            <!-- Start Single Product -->
                                            <div class="single-product">
                                                <div class="product-image">
                                                    @foreach (var image in item.ProductImages!)
                                                    {
                                                        <img src="@image.ImagePath" alt="#">
                                                        break;
                                                    }
                                                    <div class="button">

                                                        <form action="/Cart/AddProductToCart/@ViewBag.UserId/products/@item.Id" method="post">
                                                            <button type="submit" class="btn">
                                                                <i class="lni lni-cart"></i> @_localization.Getkey("AddBasket").Value
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="product-info">
                                                    <span class="category">@item.Category!.Name</span>
                                                    <h4 class="title">
                                                        <a href="/Shop/ProductDetails/@item.Id">@item.Name</a>
                                                    </h4>
                                                    <ul class="review">
                                                        @if (@ViewBag.Point != 5)
                                                        {
                                                            @for (int i = 1; i <= @ViewBag.Point; i++)
                                                            {
                                                                <li><i class="lni lni-star-filled"></i></li>
                                                            }
                                                            @for (int i = 1; i <= (5 - @ViewBag.Point); i++)
                                                            {
                                                                <li><i class="lni lni-star"></i></li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @for (int i = 1; i <= 5; i++)
                                                            {
                                                                <li><i class="lni lni-star-filled"></i></li>
                                                            }
                                                        }
                                                        <li><span> @ViewBag.Point</span></li>
                                                    </ul>
                                                    <div class="price">
                                                        <span>₺@item.Price</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Single Product -->
                                        </div>

                                    }
                                }
                                else
                                {
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <h4>Ürün Bulunamadı</h4>
                                    </div>

                                }
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <!-- Pagination -->
                                    <div class="pagination left">
                                        <ul class="pagination-list">
                                            <li><a href="javascript:void(0)">1</a></li>
                                            <li class="active"><a href="javascript:void(0)">2</a></li>
                                            <li><a href="javascript:void(0)">3</a></li>
                                            <li><a href="javascript:void(0)">4</a></li>
                                            <li>
                                                <a href="javascript:void(0)">
                                                    <i class="lni lni-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--/ End Pagination -->
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Grids -->

<script>
    function handleSortingChange(sorting) {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        url.searchParams.set("sorting", sorting);
        window.location.href = url.href;
    }

    // Sayfa yüklendiğinde mevcut sıralama değerine göre seçeneği işaretleyen kod
    window.addEventListener('DOMContentLoaded', function () {
        var currentUrl = window.location.href;
        var url = new URL(currentUrl);
        var sorting = url.searchParams.get("sorting");
        if (sorting) {
            var sortingSelect = document.getElementById("sorting");
            sortingSelect.value = sorting;
        }
    });
</script>
