@model IEnumerable<E_Commerce.Entity.Concrete.Product>
<!-- Start Special Offer -->
<section class="special-offer section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@_localization.Getkey("SpecialOffer").Value</h2>
                    <p>
                        @_localization.Getkey("SpecialOffer.SubContent").Value
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="row">
                    @foreach (var product in Model.Take(3))
                    {
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Product -->
                            <div class="single-product">
                                <div class="product-image">
                                    @foreach (var image in product.ProductImages!)
                                    {
                                        <img src="https://via.placeholder.com/335x335" alt="#">
                                        break;
                                    }
                                    <div class="button">
                                        <a href="/Cart/AddCart/@product.Id" class="btn">
                                            <i class="lni lni-cart"></i>Sepete Ekle
                                        </a>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <span class="category">@product.Category!.Name</span>
                                    <h4 class="title">
                                        <a href="/Shop/ProductDetails/@product.Id">@product.Name</a>
                                    </h4>
                                    <ul class="review">
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><i class="lni lni-star-filled"></i></li>
                                        <li><span>5.0 Puan</span></li>
                                    </ul>
                                    <div class="price">
                                        <span>@product.Price</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Product -->
                        </div>
                    }

                </div>
                <!-- Start Banner -->
                @foreach (var product in Model.Skip(3).Take(1))
                {
                    string bannerImage = null;
                    @foreach (var images in product.ProductImages!)
                    {
                        bannerImage = images.ImagePath!;
                        break;
                    }
                    <div class="single-banner right"
                         style="background-image:url('~/@bannerImage');margin-top: 30px; width:730px; height:310px;">
                        <div class="content">
                            <h2>@product.Name </h2>
                            <p>
                                @product.SubTitle
                            </p>
                            <div class="price">
                                <span>@product.Price</span>
                            </div>
                            <div class="button">
                                <a href="/Shop/ProductDetails/@product.Id" class="btn">Satın Al</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Banner -->
                }
            </div>
            @foreach (var product in Model.Skip(4).Take(1))
            {


                <div class="col-lg-4 col-md-12 col-12">
                    <div class="offer-content">
                        <div class="image">
                            @foreach (var image in product.ProductImages!)
                            {

                                <img src="~/@image.ImagePath" style="width: 510px; height:600px;" alt="#">
                            }
                        </div>
                        <div class="text">
                            <h2><a href="/Shop/ProductDetails/@product.Id">@product.Name</a></h2>
                            <ul class="review">
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><i class="lni lni-star-filled"></i></li>
                                <li><span>4.0 Puan</span></li>
                            </ul>
                            <div class="price">
                                <span>@product.Price</span>
                            </div>
                            <p>
                                @product.SubTitle
                            </p>
                        </div>


                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Special Offer -->